@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");

.analytics-container {
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  background: url("./traffic-light.png") no-repeat center center/cover;
}

.search-container {
  background-color: #4f4f4f;
  height: 80%;
  width: 75%;
  margin-top: 15px;
  margin-left: 15%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.search-box {
  background: white;
  width: 90%;
  border-radius: 5px;
}

.search-input {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 90%;
  padding: 8px;
  border: 1px solid black;
  font-size: 16px;
}

.analytics-card {
  height: 90%;
  padding: 100px;
  text-align: center;
}

.search-btn {
  width: 5.75%;
  padding: 8px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
