@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");

.dashboard-container {
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  background: url("./traffic-light.png") no-repeat center center/cover;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

.nav-btn {
  margin: 5px;
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 15px;
  background: lightgray;
  cursor: pointer;
}

.card-container {
  flex-direction: column;
  display: flex;
  margin-top: 7vh;
  margin-left: 5vw;
  margin-right: 5vw;
  height: 80vh;
  align-items: center;
  gap: 30px;
}

.card-container-two {
  flex-direction: row;
  display: flex;
  height: 60vh;
  width: 100%;
  gap: 20px;
}

.card {
  background: #4f4f4f;
  color: white;
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
}

.one {
  height: 80%;
  width: 40vw;
  text-align: center;
}

.two {
  height: 80%;
  width: 40vw;
  text-align: center;
}

.clickable {
  height: 80%;
  width: 30vw;
  cursor: pointer;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.traffic-image {
  width: 700px;
  height: 430px;
}
